* {
  outline: none;
}

body {
  font-family: Helvetica;
}

a {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.languages {
  justify-content: center;
  font-weight: bold;
}

ul {
  display: flex;
  padding: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
  margin: 10px;
}

.repos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repo {
  margin: 20px;
  text-align: center;
  width: 200px;
}

.repo-image {
  border-radius: 5px;
  margin: 20px auto;
  max-width: 100%;
}

.repo div {
  margin-bottom: 5px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;
}

form h1 {
  font-size: 30px;
  font-weight: normal;
}

input {
  border-radius: 3px;
  padding: 5px;
  width: 80%;
  margin: 10px auto;
  font-size: 16px;
}

button {
  display: block;
  padding: 10px;
  background: black;
  border: none;
  border-radius: 6px;
  color: white;
  width: 200px;
  margin: 10px auto;
  font-size: 16px;
}

button:active {
  transform: translateY(1px);
}

.active {
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

.username {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.profile-image {
  max-width: 200px;
  margin-bottom: 20px;
}

.reset {
  font-size: 12px;
}

.space-list-items {
  display: flex;
  flex-direction: column;
}
